@using Abp.Authorization.Users
@model NorthLion.Zero.Users.Dto.UpdateUserInput
@{
    Layout = null;
}
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <form id="userEditForm" role="form" novalidate class="form-validation">
            @Html.HiddenFor(a=>a.Id)

            <div class="modal-header">
                <h4 class="modal-title">
                    <span>@L("EditUser") @Model.Name @Model.Surname</span>
                </h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>@L("UserName")</label>
                    <input class="form-control" type="text" name="UserName" value="@Model.UserName" required maxlength="@AbpUserBase.MaxUserNameLength" minlength="2">
                </div>
                <div class="form-group">
                    <label>@L("Name")</label>
                    <input type="text" name="Name" class="form-control" value="@Model.Name" required maxlength="@NorthLion.Zero.Users.User.MaxNameLength">
                </div>
                <div class="form-group">
                    <label>@L("Surname")</label>
                    <input type="text" name="Surname" class="form-control" value="@Model.Surname" required maxlength="@NorthLion.Zero.Users.User.MaxSurnameLength">
                </div>
                <div class="form-group">
                    <label>@L("EmailAddress")</label>
                    <input type="email" name="EmailAddress" value="@Model.EmailAddress" class="form-control" maxlength="@AbpUserBase.MaxEmailAddressLength">
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="IsActive" value="true" value="true" checked="checked"> @L("IsActive")
                    </label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">@L("Cancel")</button>
                <button type="submit" class="btn btn-primary blue"><i class="fa fa-save"></i> <span>@L("Save")</span></button>
            </div>
        </form>
    </div>
</div>
<script>
    SystemJS.import('Users/EditUser.js').then(function (d) {
        new d.EditUserWindow().load();
    });
</script>
