@{
    Layout = null;
}
<h1>@L("AdminMenu")</h1>
<ul class="list-group">
    <li class="list-group-item">
        <a href="/AdminMpa/AdminPanel"><i class="fa fa-dashboard"></i> @L("AdminPanel")</a>
    </li>
    <li class="list-group-item">
        <a href="/AdminMpa/Users"><i class="fa fa-users"></i> @L("Users")</a>
    </li>
    <li class="list-group-item">
        <a href="/AdminMpa/Roles"><i class="fa fa-lock"></i> @L("Roles")</a>
    </li>
    <li class="list-group-item">
        <a href="/AdminMpa/Languages"><i class="fa fa-flag"></i> @L("Languages")</a>
    </li>
    <li class="list-group-item">
        <a href="/AdminMpa/AuditLogs"><i class="fa fa-file"></i> @L("AuditLogs")</a>
    </li>
    <li class="list-group-item">
        <a href="/AdminMpa/Tenants"><i class="fa fa-industry"></i> @L("Tenants")</a>
    </li>
    <li class="list-group-item">
        <a href="/AdminMpa/Features"><i class="fa fa-cogs"></i> @L("Features")</a>
    </li>
    <li class="list-group-item">
        <img class="logo__img" alt="swagger" height="15" width="13" src="/swagger/ui/images/logo_small-png">
        <a target="_blank" href="/swagger/ui/index"> @L("APISwagger")</a>
    </li>
</ul>