@{
    Layout = null;
}
<h1>@L("AdminMenu")</h1>
<ul class="list-group">
    <li class="list-group-item">
        <a href="/AdminMpa/AdminPanel">@L("AdminPanel")</a>
    </li>
    <li class="list-group-item">
        <a href="/AdminMpa/Users">@L("Users")</a>
    </li>
    <li class="list-group-item">
        <a href="/AdminMpa/Roles">@L("Roles")</a>
    </li>
    <li class="list-group-item">
        <a href="/AdminMpa/Languages">@L("Languages")</a>
    </li>
    <li class="list-group-item">
        <a href="/AdminMpa/AuditLogs">@L("AuditLogs")</a>
    </li>
</ul>